.single-review {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
  transition: box-shadow 0.3s;
  padding: 20px;
}

.single-review:hover {
  box-shadow: 0 0 5px 3px #ebebeb;
}

.single-review-reviewer {
  display: flex;
  flex-direction: row;
  align-items: center
}

.single-review-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.single-review-name {
  font-size: 18px;
  font-weight: bold;
}

.single-review-images-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.single-review-image {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 10px;
}

.single-review-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  padding: 10px 0px;
}

.single-review-date {
  font-size: 15px;
  padding-left: 20px;
}

.single-review-text {
  display: flex;
  word-break: break-all;
}

.private-review-business-details {
  display: flex;
  flex-direction: column;
}
