.single-review {
  display: flex;
  flex-direction: column;
  width: 100%
}

.single-review-reviewer {
  display: flex;
  flex-direction: row;
}

.single-review-profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.single-review-images-container {
  display: flex;
  flex-direction: row;
}
.single-review-image {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 10px;
}

.single-review-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.single-review-date {
  font-size: 15px;
  padding-left: 20px;
}
