.profile-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.profile-page-pic {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.profile-page-header {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 20px 0px;
}

.profile-page-create-business {
  padding-bottom: 20px
}
.profile-page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.profile-page-reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-page-reviews-grid {
  display: flex;
  flex-direction: column;
}
.profile-page-info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
