.profile-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
}

.profile-page-pic {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.profile-page-header {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.profile-page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.profile-page-reviews {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.owned-review-card {
  width: 100%;
}
.profile-page-info {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
