a
a:visited
 {
  text-decoration: none;
}

.business-card {
  display: flex;
  flex-direction: row;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ebebeb;
  transition: box-shadow 0.3s;
  padding: 20px;
}
.business-card:hover {
  box-shadow: 0 0 5px 3px #ebebeb;
}
.business-card-image {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
}

.business-card-details {
  width: fill;
  padding: 0 20px;
}

.business-card-name {
  font-weight: bold;
  font-size: 25px;
}

.business-card-name:hover {
  text-decoration: underline;
}

.business-card-rating {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  align-items: center;
}

.business-card-stars {
  display: flex;
  flex-direction: row;

}

.business-review-count {
  padding-left: 10px;
  color: rgba(110,112,114,1);
  font-weight: bold;
}

.business-card-category-price-location {
  color: rgba(110,112,114,1)
}

.business-card-category {
  border: 1px transparent solid;
  border-radius: 5px;
  background-color: rgb(230, 230, 230);
  color: rgba(110,112,114,1);
  padding: 2px;
  font-weight:bold;
}

.business-card-review-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  color: rgba(110,112,114,1)
}

.comment-icon {
  margin-right: 5px;
}
.more-link {
  font-weight: bold;
  color: rgba(2,122,151,1)
}
