.results-page {
  display: flex;
}

.results-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 60%;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}

.results-grid {
  display: flex;
  flex-direction:column
}
