.results-page {
  display: flex;
  flex-direction: row;
}

.results-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: 10px;
  width: 60%;
  border-right: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}

.results-grid {
  display: flex;
  flex-direction:column;
  width: 100%;
}

.noResults-page {
  display: flex;
  justify-content: center;
}

.noResults-image {
  border-radius: 20px;
}
