.business-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}

.business-page-banner {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 90%;
  min-width: 1280px;
  position: absolute;
  z-index: -1;
}

.business-page-header {
  height: 400px;
  display: flex;
  align-items: flex-end
}

.business-page-header-details {
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.business-page-rating {
  display: flex;
  flex-direction: row;
}

.business-page-review-count {
  margin-left: 15px;
}

.business-page-banner-image {
  width: 100%;
  object-fit: cover;
}
.business-page-details {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  margin: auto;
  width: 70%;
}

.business-page-body-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.business-page-body {
  padding-right: 20px;
  width: fill;

}

.business-page-contact {
  height: fit-content;
  width: 400px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
}

.business-page-contact-item {
  padding: 10px;
}
